@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Bem vindo à gestão do EcoCycle!</h1>
</div>
<div class="mt-5 mx-auto w-50 py-4 align-items-center rounded-3 shadow" style="background-color: #0D6D4B; color: #EFF8D3 ">
	<h6 class="text-center">Aqui Você pode gerenciar nossos colaboradores e a quantidade de lixo que a nossa máquina já colocou de volta nas fábricas de cada estabelecimento.</h6>
</div>
<div class="container d-flex align-items-center justify-content-center">
	<img src="~/img/EcoCycle Light (4).png" />
</div>