@page
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Esqueceu sua senha?";
}

<style>
	body {
		background-image: url('/img/forest.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>

<div id="card_container" class="card mx-auto mt-5">
	<div class="card-body">
		<div class="text-center">
			<h2><span style="color: #0dff5d">Eco</span><span style="color: #9ee5ff">Cycle</span></h2>
			<hr id="ecocycle_hr" class="col-6 mx-auto mt-0 mb-0" />
			<p class="fw-semibold fs-4 mt-0 mb-0">Cuidar do planeta é<br />nosso ciclo</p>
			<p class="mt-0 mb-0 fw-semibold fs-5">Esqueci minha senha</p>
			<p>Insira seu email para alterar sua senha</p>
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<label asp-for="Input.Email" class="form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<button type="submit" class="w-100 btn btn-lg btn-dark mt-2 mb-2">Mudar senha</button>
			</form>
			<a asp-area="Identity" asp-page="Login" class="btn btn-lg btn-secondary text-light w-100" style="color:#EEEEEE;">Voltar</a>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
