html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

#ecocycle_hr {
    border: none;
    opacity: 1;
    height: 4px;
    color: #000000;
    background-color: #000000;
}

#card_container {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    #card_container {
        width: 95%;
        margin: 10px auto;
    }
}

@media (max-width: 400px) {
    #card_container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.justificado {
    text-align: justify;
}
