html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* Cor padrão do botão */
.btn-custom {
    background-color: #0D6D4B; /* Verde Escuro */
    color: white;
    border: 1px solid #0D6D4B;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

    /* Estilo que é aplicado ao passar o mouse */
    .btn-custom:hover {
        background-color: #38a80c; /* Um verde ligeiramente mais claro */
        color: #fff;
        border-color: #129363;
        box-shadow: initial
    }
