@model MvcEcocycle.Models.Movimentacoes

@{
	ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Movimentações</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="MovimentacoesId" />
			<div class="form-group">
				<label asp-for="ColaboradoresId" class="control-label"></label>
				<input asp-for="ColaboradoresId" class="form-control" />
				<span asp-validation-for="ColaboradoresId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Qtdmovimentada" class="control-label"></label>
				<input asp-for="Qtdmovimentada" class="form-control" />
				<span asp-validation-for="Qtdmovimentada" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Data" class="control-label"></label>
				<input asp-for="Data" class="form-control" />
				<span asp-validation-for="Data" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="UsuarioId" class="control-label"></label>
				<select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
				<span asp-validation-for="UsuarioId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
